
body{
    font-family: 'Josefin Sans', sans-serif;
    background-color: black;
    margin: 0;
    padding: 0;
    overflow: auto;
    opacity: 0.0;
    transition: 1s;
}
body:hover{
    background: url(w6.jpg) no-repeat center fixed; 
    background-size: cover;
    opacity: 1;
}
div.main{
    width: 60%;
    height: 700px;
    margin-top: 10px;
    margin-left: 330px;
    border-radius: 30px;
    /* border: 1px solid #f00; */
    background-color: white;

    opacity: 0.0;
    /* transition-delay: 3s; */
    transition: 1s;
}
div.main:hover{
    opacity: 0.9;


}
div.header{
    width: 58%;
    height: 100px;
    border-radius: 20px 20px 0 0;
    position: absolute;
    margin-top: 10px;
    margin-left: 13px;
    background-color: #bd0;

    opacity: 0.0;
    transition: 1s;
}
div.header:hover{
    opacity: 1;
    

}
div.button{
    margin-left: 50px;
    margin-top:  13px;
}
div button{
    border: none;
    text-decoration: none;
    border-radius: 20px 0 20px 0;
    background-color: #eee;
    opacity: 0.0;
    font-size: x-large;
    padding: 20px;
    width: 200px;

    transition: 1s;
}
div button:hover{
    opacity: 1;
}

div.body{
    width: 58%;
    height: 500px;
    background-color: yellow;
    /* border-radius: 20px 20px 0 0; */
    position: absolute;
    margin-top: 120px;
    margin-left: 13px;
    text-indent: 30px;
    opacity: 0.0;
    transition: 1s;
}
div.body:hover{
    opacity: 1;

}
/*
div.mark{

    background-color: black;
    opacity: 0;
    transition: 1s;
}
div.mark:hover{
    opacity: 1;
}
*/

div img{
    width: 400px;
    height: 350px;
    border-radius: 50%;

    margin: 50px 0 0 220px;


    transition: 1s;
    opacity: 0;  
}
div img:hover{
    opacity: 1;
    
}
div h2{
    opacity: 0;
    transition: 1s;
}
div h3{
    width: 400px;
    margin: 15px 250px;
    opacity: 0;
    transition: 1s;
}
div h3:hover{
    opacity: 1;
}
div h2:hover{
    opacity: 1;
}
div.footer{
    width: 58%;
    height: 50px;

    color: red;
    text-align: center;

    background-color: black;
    position: absolute;
    margin-top: 630px;
    margin-left: 13px;
    border-radius: 0 0 20px 20px;

    opacity: 0.0;
    transition: 1s;
}
div.footer:hover{
    opacity: 1;
}