body, html{
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}


div.menu{
    position: fixed;
    display: block;
}
a:link, a:visited{
    background-color: #000;
    text-decoration: none;

    border-width: 0px;
    border-radius: 20px 0 20px 0;
    padding: 20px;
    width: 150px;
    text-align: center;
    color: white;
    margin: 30px 0 0 30px;
    display: block;

    transition: 0.5s;


}
a:hover, a:active{
    background-color: #eef;
    transform: translate(50px, 0px);
    border-radius: 0 20px 0px 20px;
    color: black;
}
h3{
    color: yellow;
    margin: 0 0 0 650px;
}
h2.hidden{
    visibility: hidden;
}
div.background_image_1{
    background: url(w1.jpg);
    min-height: 100%;

    background-position: center;
    background-size: cover;
}
div.background_image_2{
    background: url(w2.jpg);
    min-height: 100%;

    background-position: center;
    background-size: cover;
}
div.background_image_3{
    background: url(w3.jpg);
    min-height: 100%;

    background-position: center;
    background-size: cover;
}
div.background_image_4{
    background: url(w4.jpg);
    min-height: 100%;

    background-position: center;
    background-size: cover;
}
div.background_image_5{
    background: url(w5.jpg);
    min-height: 100%;

    background-position: center;
    background-size: cover;
}
#third{
     color: red;
}
